

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
        
            <li class="nav-item">
                <a class="nav-link active" routerLink="">דף הבית</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="להזמנות">להזמנות</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="שעות פעילות">שעות פעילות<i class="fa-solid fa-clock"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="להתחברות">להתחברות<i class="fa-solid fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="סל הקניות">סל הקניות<i class="fa-solid fa-shopping-cart"></i></a>
            </li>
        </ul>
    </div>
</nav>
          <router-outlet></router-outlet>
