
  <section class="home-section">
    <div class="container text-center">
      <h1 appChangeColor class="display-4 text-success mb-4">ברוכים הבאים למסעדה שלנו!</h1>
      <p class="lead">תתפנקו עם מנות טריות, טעימות ומעוצבות במיוחד עבורכם</p>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center shadow-lg">
            <img src="מתכונים.png" class="card-img-top" alt="הזמנות" style="width: 100%; height: auto; object-fit: contain;">
            <div class="card-body">
              <h5 class="card-title">מתכונים</h5>
              <p class="card-text">בחרו מתוך המנות הכי טעימות שלנו!</p>
              <a routerLink ="/מתכונים"class="btn btn-success">למתכונים<i class="fa-regular fa-plus-square"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center shadow-lg">
            <img src="clock.png" class="card-img-top" alt="הזמנות" style="width: 100%; height: auto; object-fit: contain;">
            <div class="card-body">
              <h5 class="card-title">שעות פעילות</h5>
              <p class="card-text">גלה את זמני העבודה שלנו</p>
              <a routerLink ="/שעות פעילות"class="btn btn-success">הצג שעות<i class="fa-regular fa-plus-square"></i></a>
            </div>
          </div>
        </div>
        <div  class="col-md-4">
          <div  class="card text-center shadow-lg">
            <img src="24.png" class="card-img-top" alt="הזמנות" style="width: 100%; height: auto; object-fit: contain;">
            <div class="card-body">
              <h5 class="card-title">הזמנות אונליין</h5>
              <p class="card-text">הזמינו אוכל לבית, עם כל המנות האהובות עליכם!</p>
              <a routerLink ="/להזמנות"class="btn btn-success">הזמן עכשיו <i class="fa-regular fa-plus-square"></i></a>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  