<div class="working-hours-section container mt-4">
    <h2 class="text-center mb-4">שעות פעילות</h2>
    <div class="accordion" id="workingHoursAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSunday">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
            יום ראשון
          </button>
        </h2>
        <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
          <div class="accordion-body">
            פתוח בין השעות 12:00 - 23:00
          </div>
        </div>
      </div>
      <div class="accordion" id="workingHoursAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSunday">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
              יום שני
            </button>
          </h2>
          <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
            <div class="accordion-body">
              פתוח בין השעות 12:00 - 23:00
            </div>
          </div>
        </div><div class="accordion" id="workingHoursAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSunday">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
                יום שלישי
              </button>
            </h2>
            <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
              <div class="accordion-body">
                פתוח בין השעות 12:00 - 23:00
              </div>
            </div>
          </div><div class="accordion" id="workingHoursAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSunday">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
                  יום רביעי
                </button>
              </h2>
              <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
                <div class="accordion-body">
                  פתוח בין השעות 12:00 - 23:00
                </div>
              </div>
            </div><div class="accordion" id="workingHoursAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSunday">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
                    יום חמישי
                  </button>
                </h2>
                <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
                  <div class="accordion-body">
                    פתוח בין השעות 12:00 - 23:00
                  </div>
                </div>
              </div><div class="accordion" id="workingHoursAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSunday">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
                      יום שישי
                    </button>
                  </h2>
                  <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
                    <div class="accordion-body">
                      פתוח בין השעות 8:00 - 14:00
                    </div>
                  </div>
                </div><div class="accordion" id="workingHoursAccordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSunday">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSunday" aria-expanded="true" aria-controls="collapseSunday">
                        יום שבת
                      </button>
                    </h2>
                    <div id="collapseSunday" class="accordion-collapse collapse show" aria-labelledby="headingSunday" data-bs-parent="#workingHoursAccordion">
                      <div class="accordion-body">
                    שומרים שבת-סגור 
                      </div>
                    </div>
                  </div>

    </div>
  </div>
  